*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Geometria;
  background-color: #2C7580;
  color: #ccc;
  user-select: none;
  overflow: hidden;
}

/*безопасное скрытие элемента*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  position: absolute;
  display: block;
  width: 200px;
  border-radius: 50%;
}

.wrapper {
  outline: 1px dashed black;
  margin: 50px;
  position: relative;
  padding: 10px;
  width: 400px;
}

.img1 {
  top: 250px;
}

.svg {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

/* ================ megaclass ================ */
.megaclass {
  position: absolute;
  outline: 1px solid darkblue;
  z-index: 999;
}

.megaclass__size {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: blue;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
}

.megaclass__size--top-left {
  top: -10px;
  left: -10px;
}

.megaclass__size--top-right {
  top: -10px;
  right: -10px;
}

.megaclass__size--bottom-left {
  left: -10px;
  bottom: -10px;
}

.megaclass__size--bottom-right {
  right: -10px;
  bottom: -10px;
}

.megaclass__rotate {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 3px groove darkblue;
  cursor: pointer;
  transition: 0.3s;
}

.megaclass__rotate::before {
  content: "Rotate";
  position: absolute;
  top: 15px;
  left: 45px;
  font-size: 10px;
}

.megaclass__rotate--top-left {
  top: -30px;
  left: -30px;
}

.megaclass__rotate--top-right {
  top: -30px;
  right: -30px;
}

.megaclass__rotate--bottom-left {
  left: -30px;
  bottom: -30px;
}

.megaclass__rotate--bottom-right {
  right: -30px;
  bottom: -30px;
}


/* ****************** out ****************** */
.megaclass__out-row {
  outline: 1px solid darkblue;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 40%);
  padding: 5px;
  display: flex;
  flex-direction: column;
  min-width: 80px;
  background-color: black;
  color: white;
  z-index: 999;
}

.megaclass__out {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}

.megaclass__out-text {
  margin-left: 20px;
}

.megaclass__out--reset {
  outline: none;
  margin-top: 5px;
  background-color: red;
  width: 100%;
  text-align: center;
  justify-content: center;
}






