{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "electron": 8,
                    "esmodules": true
                },
                "corejs": 3,
                "useBuiltIns": "entry"
            }
        ],
        "@babel/preset-react"
    ],
    "env": {
        "development": {
            "plugins": [
                "@babel/plugin-proposal-numeric-separator",
                "@babel/plugin-transform-modules-commonjs",
                [
                    "@babel/plugin-proposal-decorators",
                    {
                        "legacy": true
                    }
                ],
                [
                    "@babel/plugin-proposal-class-properties",
                    {
                        "loose": true
                    }
                ],
                [
                    "@babel/plugin-transform-runtime",
                    {
                        "regenerator": true
                    }
                ],
                "react-hot-loader/babel"
            ]
        },
        "production": {
            "plugins": [
                "@babel/plugin-proposal-numeric-separator",
                "@babel/plugin-transform-modules-commonjs",
                [
                    "@babel/plugin-proposal-decorators",
                    {
                        "legacy": true
                    }
                ],
                [
                    "@babel/plugin-proposal-class-properties",
                    {
                        "loose": true
                    }
                ]
            ]
        }
    }
}
