
/* ================ selection ================ */
.selection {
    position: absolute;
    outline: 1px solid red;
    /* display: none; */
    z-index: 999;
  }
  
  .selection__size {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    z-index: 1;
  }
  
  .selection__size--top-left {
    top: -20px;
    left: -20px;
  }
  
  .selection__size--top-right {
    top: -20px;
    right: -20px;
  }
  
  .selection__size--bottom-left {
    left: -20px;
    bottom: -20px;
  }
  
  .selection__size--bottom-right {
    right: -20px;
    bottom: -20px;
  }
  
  .selection__rotate {
    position: absolute;
    width: 35px;
    height: 35px;
    border: 1px groove darkblue;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .selection__rotate--top-left {
    top: -35px;
    left: -35px;
  }
  
  .selection__rotate--top-right {
    top: -35px;
    right: -35px;
  }
  
  .selection__rotate--bottom-left {
    left: -35px;
    bottom: -35px;
  }
  
  .selection__rotate--bottom-right {
    right: -35px;
    bottom: -35px;
  }
  
  
  /* ****************** out ****************** */
  .selection__out-row {
    outline: 1px solid darkblue;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 55%);
    padding: 5px;
    display: flex;
    flex-direction: column;
    min-width: 80px;
    background-color: black;
    color: white;
    z-index: 999;
  }
  
  .selection__out {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    font-family: monospace;
  }
  
  .selection__out-text {
    margin-left: 20px;
  }
  
  .selection__out--reset {
    outline: none;
    margin-top: 5px;
    background-color: red;
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  
